[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sapp = "==0.4.0"
python-decouple = "*"
ipython = "*"
pyramid = "*"
marshmallow = "*"
sqlalchemy = "*"
uwsgi = "*"
psycopg2 = "*"
venusian = "*"
bcrypt = "*"
pyjwt = "*"
pyramid-ipython = "*"

[dev-packages]
ipython = "*"
ipdb = "*"
pytest = "*"
pytest-cov = "*"
undecorated = "*"
webtest = "*"
alembic = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
